img {
    width: 250px;
}

div {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 20px;
    border: 5px bold;
}

button
{
    width: 100px;
    display: flex;
    flex-direction: column;
}